
/* Nav-Element Modification */
header {
  height: 3.5em;  
  border: 5px #cccccc solid; 
  font-size: 16px;
}

nav ul {
  list-style: none;
  display: inline; 
  position: absolute;
  top: 5px;
  margin-left: 50px;
}

nav li {
  display: inline;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  color: #777777;
}

a:hover {
  color: red;
}

#A-myName {
  padding-right: 100px;
  color: white;
}

#A-myName:hover {
  color: black;
}

span.navName {
  background: #4aaaa5;
  padding: 17px 10px 14px 10px;
  border-radius: 10px;
}

/* Nav-Element Modifeication: End */

/* Not Nav-Element Modification */

h1 {
  color: #4aaaa5;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

p {
  color: #777777;
}

span.grey {
  color: #777777;
}

footer {
  background: #666666;
  height: 2rem;
  border-top: 8px solid #4aaaa5;
  color:#777777; 
  border-radius: 10px;
}

.main-content {
  border: 10px solid #dddddd;
}

* {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

fieldset {
  height: 325px;
}

/* CSS Style Rules for "Sticky Footer" + background-image, below */

html {
  height: 100%;
}

body {
  margin: 100px;
  margin-top: 0px;  
  display: flex;
  flex-direction: column; 
}

.main-content {
  flex: 1 0 auto;
}

header, .main-content {
  background: url("/Users/seancumming/code/homework-one/assets/Images/triangle-mosaic.png");
}

/* Special Modifications For "Form" Elements: (1) textarea, (2) input type="submit".  */

textarea {
  width:  300px;
  height: 150px;  
}
  
  .input {
background: linear-gradient(#4aaaa5, white);
width: 100px;
height: auto;
}