/* Nav-Element Modification */

header {
    height: 3.5em;
    border: 5px #cccccc solid;
    font-size: 12px;
  }
  
  nav ul {
    list-style: none;
    display: inline;
    position: absolute;
    top: 5px;
  }
  
  nav li {
    display: inline;
  }
  
  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #777777;
  }
  
  a:hover {
    color: red;
  }
  
  #A-myName {
    padding-right: 100px;
    color: white;
  }
  
  #A-myName:hover {
    color: black;
  }
  
  span.navName {
    background: #4aaaa5;
    padding: 13px 10px 10px 10px;
    border-radius: 10px;
  }
  
  /* Not Nav-Element Modification */
  
  h1 {
    color: #4aaaa5;
    font-family: "Georgia", Times, "Times New Roman", serif;    
    font-size: 1em;
  }
  
  footer {
    background: #666666;
    height: 2rem;
    border-top: 8px solid #4aaaa5;  
  }
  
  .main-content {
    border: 10px solid #dddddd;
    padding-left: .9rem;
    padding-right: .9rem;
  }
  
  a img {
    display: inline;
    margin-left: 2%;
  }

img {
  width: 150px;
  height: 150px;
  border: 5px ridge #4aaaa5;
  border-radius: 9px;
}

  /* CSS Style Rules for "Sticky Footer" + background-image */
  
  body {
    margin: 100px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex: 1 0 auto;
  }
 header, .main-content {
  background: url("/Users/seancumming/code/homework-one/assets/Images/triangle-mosaic.png");
 } 




  
  